DATABASE_URL="postgresql://your_local_db_username:your_local_db_password@localhost:5432/your_local_db_name?schema=public"

POSTGRES_USER=your_db_user_here
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=your_database_name_here
